@page
@model IndexModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var user = await UserManager.GetUserAsync(User);
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center">
    <div class="col-md-10">
        <h3 class="mb-3">@ViewData["Title"]</h3>
        
        <buton class="btn btn-sm btn-dark">
            @*~/Views/Profile/Profile.cshtml"/> yazarak profile gitmek istiyorum*@
            
            <a asp-controller="Profile" asp-action="ProfileID" asp-route-id="@user.Id" class="text-white text-decoration-none">Profile gitmek istiyorum</a>

        </buton>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
