@{
    ViewData["Title"] = "Ana Sayfa";
}

<!doctype html>
<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="WebThemez">
    <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen"/>
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen"/>
    <link href="css/animate.css" rel="stylesheet" media="screen">
    <link href="css/contact.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Assets -->
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css"/>
    <!-- Font Awesome -->
    <link href="font/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
<section id="home">
    <div class="banner-container mt-0">
        <img src="images/banner-bg.jpg" alt="banner"/>
        <div class="container banner-content">
            <div class="hero-text animated fadeInDownBig">
                <h1 class="responsive-headline" style="font-size: 40px;">Tasktracker</h1>
                <p>
                    "Keşfet, Düzenle, Etkinlikleri Yönet: Güçlü ve Kolay Kullanımlı Etkinlik Platformu"
                </p>
            </div>

            <!-- <a class="hero-button learn-more smoothscroll text-center" href="#features">Learn More</a>-->
            <div class="hero-img">
                <img src="images/homepage-1204-background-lapto.png" alt="" class="text-center animated fadeInUpBig"/>
            </div>
        </div>
    </div>
</section>
<section id="features">
    <div class="container">
        <div class="row feature design">
            <div class="six columns right">
                <h3>Clean and Modern Design.</h3>
                <p>
                    Tasktracker, kullanıcı dostu bir arayüzü ve kolay kullanımıyla dikkat çekiyor. Sadece birkaç adımda etkinliklerinizi oluşturabilir, detayları belirleyebilir ve tarihleri ayarlayabilirsiniz. Hem bireysel etkinliklerinizi planlayabilir hem de grup etkinlikleri organize edebilirsiniz.
                    <br/>
                    Etkinlik oluşturma süreci oldukça esnektir. İstediğiniz etkinlik türünü seçebilir, açıklama ve konum bilgilerini ekleyebilirsiniz. Ayrıca, etkinlik için katılımcılar arasında iletişimi kolaylaştırmak amacıyla tartışma platformu da mevcuttur.
                    <br/>
                    Tasktracker'ı kullanarak etkinliklerinizi paylaşabilir ve katılımcıları davet edebilirsiniz. Etkinlikleri sosyal medya hesaplarınızda da paylaşarak daha geniş bir kitleye ulaşabilirsiniz. Ayrıca, etkinliklere katılmak isteyenleri kolayca yönlendirebilir ve takip edebilirsiniz.
                    <br/>
                    Tasktracker, etkinlik düzenleme ve oluşturma sürecini basitleştirirken aynı zamanda etkinlik deneyimini artırır. Kullanıcı dostu arayüzü, özelleştirilebilir seçenekleri ve katılımcı yönetimi özellikleriyle etkinliklerinizi daha verimli bir şekilde yönetebilirsiniz.
                    <br/>
                    Artık Tasktracker ile etkinliklerinizi organize etmek ve paylaşmak çok daha kolay. Hem mobil hem de web arayüzünde sorunsuz bir deneyim sunan bu platformu keşfedin ve etkinliklerinizi bir üst seviyeye taşıyın.
                </p>
            </div>
            <div class="six columns feature-media left">
                <img src="images/feature-img-1.png" alt="">
            </div>
        </div>
        <div class="row feature responsive">
            <div class="six columns left">
                <h3>100% Responsive</h3>
                <div>
                    <p>Tasktracker, hem mobil hem web alanlarında çalışabilen bir proje yönetimi ve takip platformudur.</p>
                    <p>Projemizde kullanıcılar istedikleri zaman etkinlik oluşturabilir ve paylaşabilirler. Etkinlikler takvim üzerinde görüntülenebilir ve katılımcılarınızla iletişim kurabilirsiniz.</p>
                    <p>Aynı zamanda projenizin ilerleyişini görsel olarak takip edebilir, görevleri atayabilir ve takım üyeleriyle işbirliği yapabilirsiniz.</p>
                    <p>Tasktracker, proje yönetimi ve takibi konusunda size güçlü bir platform sunar.</p>
                </div>
            </div>
            <div class="six columns feature-media right">
                <img src="images/feature-img-2.png" alt="">
            </div>
        </div>
        <div class="row feature cross-browser">
            <div class="six columns right">
                <h3>Cross-Device/Browser Compatible.</h3>
                <p>
                    Tasktracker, popüler tarayıcılar aracılığıyla erişilebilen bir proje yönetimi platformudur. Safari, Google Chrome, Firefox, Edge gibi birçok tarayıcı üzerinden sorunsuz bir şekilde kullanılabilir. Kullanıcılar, tercih ettikleri tarayıcıyı kullanarak Tasktracker'a erişebilir, projelerini yönetebilir ve etkinliklerini takip edebilir. Tarayıcı uyumluluğu sayesinde kullanıcılar, istedikleri cihaz ve platformda Tasktracker'ı kullanarak verimli bir şekilde çalışabilirler.
                </p>
            </div>
            <div class="six columns feature-media left">
                <img src="images/feature-img-3.png" alt="">
            </div>
        </div>
    </div>
</section>
<section id="aboutUs" class="page-section darkBg pDark">

    <div class="container">
        <div class="row justify-content-between ">
            
            <div class="creator-card-wrapper">
                <div class="creator-card">
                    <div class="creator-card-image">
                        <img src="~/images/MelihAfsar.jpeg" alt="profile one"/>
                    </div>
                    <ul class="creator-social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/melih-af%C5%9Far-0a8565220/?originalSubdomain=tr">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/MelihAfsar">
                                <i class="bx bxl-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="'https://www.instagram.com/mafsar42/">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:melihafsar@marun.edu.tr">
                                <i class="bx bx-envelope"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="creator-details">
                        <h2>
                            Melih Afşar
                            <br/>
                            <span class="job-title">Web Developer</span>
                        </h2>
                    </div>
                </div>
            </div>
            
            <div class="creator-card-wrapper">
                <div class="creator-card">
                    <div class="creator-card-image">
                        <img src="~/images/KenanBaylan.jpeg" alt="profile one"/>
                    </div>
                    <ul class="creator-social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/kenan-b-756ba8206/">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://kenanbylan.github.io">
                                <i class="bx bxl-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/kenanbylan/">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:kenan.baylan4654@gmail.com">
                                <i class="bx bx-envelope"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="creator-details">
                        <h2>
                            Kenan Baylan
                            <br/>
                            <span class="job-title">IOS Developer</span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="creator-card-wrapper">
                <div class="creator-card">
                    <div class="creator-card-image">
                        <img src="~/images/AESaganda.jpeg" alt="profile one"/>
                    </div>
                    <ul class="creator-social-icons">
                        <li>
                            <a href="https://www.linkedin.com/in/aziz-eren-sa%C4%9Fanda-893619137/?toriginalSubdomain=tr">
                                <i class="bx bxl-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/aesaganda">
                                <i class="bx bxl-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="'https://www.instagram.com/st.saganda/">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:aesaganda@marun.edu.tr">
                                <i class="bx bx-envelope"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="creator-details">
                        <h2>
                            A. Eren Sağanda
                            <br/>
                            <span class="job-title">Devops Engineer</span>
                        </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<a href="#top" class="topHome">
    <i class="fa fa-chevron-up fa-2x"></i>
</a>

<script src="js/modernizr-latest.js"></script>
<script src="js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/jquery.isotope.min.js" type="text/javascript"></script>
<script src="js/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="js/jquery.nav.js" type="text/javascript"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/waypoints.js"></script>
<script src="js/custom.js" type="text/javascript"></script>
<script src="js/owl-carousel/owl.carousel.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>