@{
    ViewData["Title"] = "Home Page";
    @model List<tasktracker.Models.Event>

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    @if (Model == null || Model.Count == 0)
    {
        <p>No events found</p>
    }
    else
    {
        foreach (var e in Model)
        {
            <p>@e.event_name</p>
            <p>@e.event_description</p>
        }
    }
    
</div>