@{
    ViewData["Title"] = "Yönetici Olduğunuz Aktiviteler";
}

    <h1> Oluşturduğunuz Tüm aktiviteler </h1>
<p> Kullanıcının yönetici olduğu kendisinin oluşturduğu aktiviteler olacak.
    Aynı zamanda burada ekleme, silme, güncelleme işlemleri yapılacak.</p>